*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*outline: 1px solid black;*/
}

body {
  font-family: Roboto, Lato, sans-serif;
  font-size: 15px;
  background-image: linear-gradient(to top, #f2f2f2, #ffffff);
}

a:link {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #444;
}

.header {
  background-color: #fff;
  margin-bottom: 2px;
}
.header__container {
  max-width: 1020px;
  height: 130px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  flex-flow: row wrap;
}

.header__top {
  width: 33.333%;
  margin-left: 66.666%;
}

.header__top-content {
  display: block;
  text-align: right;
  padding-top: 12px;
}

.header__top-content img:nth-child(-n+3) {
  margin-right: 10px;
}

.header__help {
  width: 33.333%;
  align-self: center;
}

#need {
  /*font-size: 15px;*/
  font-weight: normal;
  color: #666;
}

.header__help span {
  /*font-size: 15px;*/
  font-weight: bold;
    color: #000;
}

#zero {
  font-weight: normal;
}

#smartphone {
  padding-top: 3px;
  padding-right: 7px;
  float: left;
}

.header__title {
  width: 33.333%;
  align-self: center;
}

.header__title > h1 {
    font-size: 52.5px;
  font-weight: 300;
  latter-spacing: -2.63px;
  line-height: .7;
  text-align: center;
  color: #000;
}

.header__search {
  width: 33.333%;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.header__search-container {
  width: 200px;
  height: 35px;
  border-radius: 17.5px;
  position: relative;
  /*box-shadow: 4px 4px 8px darkgrey;*/
}

.input {
  width: 100%;
  height: 35px;
  display: block;
  border-radius: 17.5px;
  padding-left: 33px;
  font-size: 14px;
  outline: none;
  border: 1px solid #666;
}

.btn {
  position: absolute;
  left: 11px;
  top: 10px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  color: #f2f2f2;
  border-radius: 50%; 
  outline: none;
  border:none;
}

.menu{
  margin-bottom: 2px;
  background-color: #fff;
}

.menu__container {
  max-width: 1020px;
  height: 60px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}
.menu__list {
  font-size: 14px;
  list-style: none;
}

.menu__list-item {
  display: inline-block;
  position: relative;
}

.menu__list-item + .menu__list-item {
  margin-left: 23px;
}

.menu__list-item:last-child {
  margin: 0; 
  padding-left: 86px;
  position: relative;
}

.menu__list-item:last-child img {
  position: absolute;
  top: -3px;
  right: 56px;
}

.menu a::before {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: rgba(68,68,68,.8);
  position: absolute;
  bottom: 0px;
  transition: all ease-in-out 250ms;
}

.menu a:hover::before {
    width: 100%;
}

.undernav {
  margin-bottom: 5px;
  background-color: #fff;
}

.undernav__container{
    max-width: 1020px;
  height: 60px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.area__wrapper {
  max-width: 1020px;
  height: 505px;
  margin: 0 auto;
  padding: 0px 15px;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: repeat(3, 165px);
  gap: 5px 5px;  
}

.area__sidebar {
  display: grid;
  grid-template-rows: repeat(3, 165px);
  row-gap: 5px;
}
.area__sidebar > div:nth-child(-n+3) {
  padding-left: 25px;
  background-color: #fff;
}

.area__box-top {

}

.area__box-middle {

}

.area__box-bottom {

}

.area__content {
  grid-column: 2 / 3;
  grid-row: span 3;
  background-image: url("../images/Floewers_main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.products__wrapper{
  max-width: 1020px;
  height: 1160px;
  margin: 0 auto;
  padding: 0px 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 30px;
  background-color: antiquewhite;
}

.products__item h3 {
  padding: 60px 0px 34px;
}

.products__item img {
  padding: 17px 19px 17px 20px;
  grid-template-rows: subgrid;
}
